<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="copy">
    &copy; 2011 The Good Thymes Virtual Grocery
</div>
<div class="row header-content" th:fragment="navbar">

    <div class="logo">
        <a href="http://localhost:8080/news">Author</a>
    </div>

    <nav id="main-nav-wrap">
        <ul class="main-navigation sf-menu">
            <li class="current"><a href="http://localhost:8080/news" title="">Home</a></li>
            <li class="has-children">
                <a href="category.html" title="">Categories</a>
                <ul class="sub-menu">
                    <li th:each="c : ${categories}"><a th:href="@{/news/category/{idCategory}(idCategory=${c.idCategory})}" th:text="${c.name}"></a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="single-standard.html" title="">Blog</a>
                <ul class="sub-menu">
                    <li><a href="single-video.html">Video Post</a></li>
                    <li><a href="single-audio.html">Audio Post</a></li>
                    <li><a href="single-gallery.html">Gallery Post</a></li>
                    <li><a href="single-standard.html">Standard Post</a></li>
                </ul>
            </li>
            <li><a href="style-guide.html" title="">Styles</a></li>
            <li><a href="about.html" title="">About</a></li>
            <li><a th:href="@{/news/admin}" title="">Admin</a></li>
        </ul>
    </nav> <!-- end main-nav-wrap -->

    <div class="search-wrap">

        <form role="search" method="get" class="search-form" action="/news">
            <label>
                <span class="hide-content">Search for:</span>
                <input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="titleSearch"
                       title="Search for:" autocomplete="off" required>
            </label>
            <input type="submit" class="search-submit" value="Search">
        </form>

        <a href="#" id="close-search" class="close-btn">Close</a>

    </div> <!-- end search wrap -->

    <div class="triggers">
        <a class="search-trigger" href="#">
            <i class="fa fa-search"></i>
        </a>
        <a class="menu-toggle" href="#"><span>Menu</span></a>
    </div> <!-- end triggers -->

</div>
</body>
</html>